*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto repeat(22, 1fr);
    grid-template-rows: repeat(24, 1fr);
    width: 100dvw;
    height: 100dvh;

}

header{
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    grid-column: 1 / 3;
    grid-row: 3 / 24;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    grid-column: 3 / -1;
    grid-row: 3 / 24;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    grid-column: 1 / -1;
    grid-row: 24 / -1;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}