*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}

img {

display: block;
max-width: 100%;

}

body{

    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-columns: 80px 1fr 2fr;
   
}

nav{

    background-color: #F7F5F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.lado-esquerdo{

    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    height: 100dvh;
    
}

#sessão-contato {

    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    

}

.cabecalho-contato{

    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px;
    padding: 30px;

}   

.cabecalho-contato h1{

    margin: 0;

}

.cabecalho-contato > img {

    position: absolute;
    left: 35%;
    top: 35%;
    height: 150px;
    width: 150px;
    border-radius: 100%;

}

.dados-contatos{

    display: flex;
    flex-direction: column;
    height: 520px;
    padding: 20px;
    gap: 30px;

}

.dados-contatos > h1,h2,h3{

    font-family: 'Helvetica', sans-serif;
    font-weight: normal;

}

.troca-de-usuario{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.perfis-contato {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 80px;
    flex-grow: 1;

}

.perfil{

    display: flex;
    flex-direction: column


}

.perfil > img {

    height: 50px;
    width: 50px;
    border-radius: 100%;

}

.font-whatsapp{

    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #1CAA61;

}

.top-header{

    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 18px;
}

.top-whatsapp{

    display: flex;
    align-items: center;
    gap: 8px;
}

.form-nav{

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 18px 18px 25px 18px;
}

.input-style{

    width: 85%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #F6F5F4;
    padding-left: 16px;
}

.buttons-form{

    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.form-buttons{

    background-color: #F6F5F4;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;

}

.inside-whatsapp{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.container-nav{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

}

.container-nav > img{

    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.container-nav > img:hover{

    background-color: #E4DCD3;
    

}

.botton-conversation{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;

}

section{

    background-color: #FFFFFF;
    

}

main{

    background-color: #E4DCD3;

}

.lista-contatos{

    
    padding: 10;
    overflow-y: auto;

}

.card-contato {

    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: min-content min-content;
    overflow: hidden;
    column-gap: 12px;
    padding: 5px;
    border-radius: 20px;



}

.foto-contato {

    grid-row: 1/-1;
    border-radius: 100%;
    place-self: center;

}

.nome-contato{

    align-self: last baseline;

}


.msg-recebida {

    text-overflow: ellipsis;
    white-space: nowrap;

}

main{

    background-color: #E4DCD3;

   

}

.header-main {

    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.foto-header-container {

display: flex;
gap: 20px;
padding: 20px;
align-items: center;

}

.foto-header-container >img{
    
    height: 60px;
    width: 60px;

}

.foto-header-container > p {

    font-size: x-large;
    font-weight: 600;



}

.botoes-header-conversa {

    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;

}


.botoes-header-conversa >img {

    width: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.grid-msg {

    
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    margin-top: auto;
    gap: 6px;
    padding: 16px;
    background-color: #E4DCD3;
    grid-auto-rows: min-content; 
    align-content: start; 
    gap: 6px;
    padding: 16px;
    background-color: #E4DCD3;
    flex: 1;           
    overflow-y: auto;  
}

article{

    gap: 10px;

}




.recebidas {
    grid-column: 2 / 14;
    justify-self: start;
    background-color: #FFFFFF;
    position: relative;
    width: fit-content;
    max-width: 70%;
    padding: 8px 10px;
    padding-right: 50px;
    border-radius: 8px;
   
    
}

.enviadas {
    grid-column: 12 / 24;
    justify-self: end;
    background-color: #D8F8D2;
    position: relative;
    width: fit-content;
    max-width: 70%;
    padding: 8px 10px;
    padding-right: 50px;
    border-radius: 8px;

    
    
}

article p {
    margin: 0;
}

article span {
    position: absolute;

    right: 8px;
    bottom: 5px;

    font-size: 11px;
}

.aba-enviar {

    width: 100%;
   

}


.aba-enviar >input {

    width: 80%;
    height: 40px;
    border: none;
    border-radius: 25px;
    padding: 20px;

}

